
*{
  padding: 0%;
  margin: 0%;
}
.App{
  background-color: blueviolet;
  width: 500x;
  height: 670px
}
.FullName{
  font-style:italic;
  color:red;
}
.Profession{
  color: chartreuse;
  font-style: inherit;
}
.Navbar{
  color: chocolate;
  width: 400px;;
  height: 400px;
}
.input{
  width: 50px;
  height: 50px;
}
.text{
  
}
